body{
  background-image: url("http://orig06.deviantart.net/b99b/f/2010/337/d/1/quiet_ambient_2_by_freakyframes-d3453cr.jpg");
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.7);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#question-on-answer-page{
  text-align: center;
}

#askQ{
  text-align: center;
}

.jumbotron{
  margin-top: 2%;
  background-color: rgba(205, 205, 205,.5);
}

.question-blocks{
  border-style: solid;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(242, 242, 242,.9);
  padding: 5px;
}


.overflown-entries{
  max-height: 70vh;
  overflow:scroll;
}
.overflown-answers{
  max-height: 55vh;
  overflow:scroll;
}
.question-blocks:hover{
  background-color: rgba(205, 205, 205,.7);
}

.btn{
  margin-top: 5px;
}
.q-up-del-btns{
  text-align: center;

}

.vote-block{
  padding-top: 63px;
}

.admin-table{
  margin-bottom: 100px;
}

::-webkit-scrollbar {
  display: none;
}
