<div class="container">
  <ul class="nav nav-pills">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'favorite-questions'}}Favorite Questions{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin Portal{{/link-to}}</li>
  </ul>
  <div class="jumbotron">
    <h1>Yahoogle Answers</h1>
  </div>
  {{outlet}}
</div>
