<div class="row">
  <div class="col-sm-6">
    <div class="row overflown-entries" >
      {{#each model as |question|}}
      <div class="question-blocks">
        {{question-tile question = question}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col-sm-6">
    {{new-question submitQuestion="submitQuestion" }}
  </div>

</div>
