<h2>{{model.question}}</h2>
{{question-detail question=model destroyQuestion="destroyQuestion" updateQuestion="updateQuestion" saveAnswer="saveAnswer" destroyAnswer="destroyAnswer" editAnswer="editAnswer" upVote="upVote" downVote=
"downVote"}}
